@font-face {
    -fx-font-family: "JetBrains Mono NL ExtraBold";
    -fx-font-weight: 800;
    src: url("../fonts/jetbrains_mono/JetBrainsMonoNL-ExtraBold.ttf");
}

@font-face {
    -fx-font-family: "JetBrains Mono NL Bold";
    -fx-font-weight: 700;
    src: url("../fonts/jetbrains_mono/JetBrainsMonoNL-Bold.ttf");
}

@font-face {
    -fx-font-family: "JetBrains Mono NL SemiBold";
    -fx-font-weight: 600;
    src: url("../fonts/jetbrains_mono/JetBrainsMonoNL-SemiBold.ttf");
}

@font-face {
    -fx-font-family: "JetBrains Mono NL Medium";
    -fx-font-weight: 500;
    src: url("../fonts/jetbrains_mono/JetBrainsMonoNL-Medium.ttf");
}

@font-face {
    -fx-font-family: "JetBrains Mono NL Regular";
    -fx-font-weight: 400;
    src: url("../fonts/jetbrains_mono/JetBrainsMonoNL-Regular.ttf");
}

@font-face {
    -fx-font-family: "JetBrains Mono NL Light";
    -fx-font-weight: 300;
    src: url("../fonts/jetbrains_mono/JetBrainsMonoNL-Light.ttf");
}

@font-face {
    -fx-font-family: "JetBrains Mono NL ExtraLight";
    -fx-font-weight: 200;
    src: url("../fonts/jetbrains_mono/JetBrainsMonoNL-ExtraLight.ttf");
}

@font-face {
    -fx-font-family: "JetBrains Mono NL Thin";
    -fx-font-weight: 100;
    src: url("../fonts/jetbrains_mono/JetBrainsMonoNL-Thin.ttf");
}

.root {
    -fx-font-family: "JetBrains Mono NL Regular";
    -fx-font-size: 15px;
}


.split-pane-divider {
    -fx-background-color: transparent;
}

.mainContainer {
    -fx-background-color: #F4F1DE;
}

.leftMainContainer {
    -fx-padding: 10 4 10 10;
    -fx-spacing: 10;
}

.rightMainContainer {
    -fx-background-color: transparent;
    -fx-padding: 10 4 4 0;

}

.rightMainContainer > .split-pane-divider {
    -fx-background-image: url("../images/SplitPane_Divider_Indicator_Horizontal.png");
    -fx-background-size: 105px;

}

.mainContainer > .split-pane-divider {
    -fx-background-image: url("../images/SplitPane_Divider_Indicator_Vertical.png");
    -fx-background-size: 13px;
}

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 10px;
}

/*--------------scrolling...-----------------*/
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    /*-fx-background-color: #FFE0AF;
    -fx-border-color: #FFE0AF;
    -fx-border-style: double;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;*/
    visibility: hidden;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;
    -fx-border-radius: 2.0em;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    visibility: hidden;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(224, 122, 95, 0.80);
    -fx-background-insets: 1.0, 2.0, 1.0;
    -fx-background-radius: 2.0em; /* makes sure this remains circular */
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#3d405b, 10.0%);
    -fx-background-insets: 1.0, 2.0, 1.0;
    -fx-background-radius: 2.0em;
}

.scroll-pane .corner {
    -fx-background-color: transparent ;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
    visibility: hidden;
}

/*
.hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}*/
