.map-container {
    -fx-background-color: transparent;
    -fx-padding: 0 6px 4px 4px;
}

.map-main-box {
    -fx-background-color: #669496;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0, 3, 3);
}

.no-map-icon {
    -fx-opacity: 0.3;
    -fx-shape: "M384 476.1L192 421.2V35.9L384 90.8V476.1zm32-1.2V88.4L543.1 37.5c15.8-6.3 32.9 5.3 32.9 22.3V394.6c0 9.8-6 18.6-15.1 22.3L416 474.8zM15.1 95.1L160 37.2V423.6L32.9 474.5C17.1 480.8 0 469.2 0 452.2V117.4c0-9.8 6-18.6 15.1-22.3z";
    -fx-background-color: #3D405B;
    -fx-max-height: 100px;
    -fx-max-width: 130px;
    -fx-min-height: 100px;
    -fx-min-width: 130px;
}

.no-map-text {
    -fx-font-family: "JetBrains Mono NL Bold";
    -fx-text-fill: rgba(61, 64, 91, 0.3);
    -fx-font-size: 25px;
    -fx-padding: 10px 0 0 0;
}

.progress-indicator:indeterminate .segment {
    -fx-background-color: rgb(61, 64, 91);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.map-image-scroll-pane {
    -fx-border-radius: 10;
    -fx-border-insets: 10;
    -fx-border-width: 5px;
    -fx-border-color: #669496;
}

.mapZoomButtonsContainer {
    -fx-max-height: 120px;
    -fx-max-width: 70px;
    -fx-min-height: 120px;
    -fx-min-width: 70px;
    -fx-padding: 0 20 40 0;
}

.increaseZoom {
    -fx-shape: "M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM184 296c0 13.3 10.7 24 24 24s24-10.7 24-24V232h64c13.3 0 24-10.7 24-24s-10.7-24-24-24H232V120c0-13.3-10.7-24-24-24s-24 10.7-24 24v64H120c-13.3 0-24 10.7-24 24s10.7 24 24 24h64v64z";
    -fx-background-color: #3D405B;
    -fx-max-height: 40px;
    -fx-max-width: 40px;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-effect: dropshadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0, 3, 3);
    -fx-cursor: hand;
}

.decreaseZoom {
    -fx-shape: "M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM136 184c-13.3 0-24 10.7-24 24s10.7 24 24 24H280c13.3 0 24-10.7 24-24s-10.7-24-24-24H136z";
    -fx-background-color: #3D405B;
    -fx-max-height: 40px;
    -fx-max-width: 40px;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-effect: dropshadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0, 3, 3);
    -fx-cursor: hand;
}

.decreaseZoom:hover {
    -fx-background-color: derive(#E07A5F, 7.0%);
}

.increaseZoom:hover {
    -fx-background-color: derive(#E07A5F, 7.0%);
}

.scroll-bar:horizontal {
    /*padding for the horizontal scroll bar*/
    -fx-padding: 5px 0 -10px 0;
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    /*padding for the horizontal scroll bar*/
    -fx-padding: 0 -10px 0 5px;
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #3D405B;
}

.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: derive(#E07A5F, 7.0%);
    -fx-background-insets: 1.0, 2.0, 1.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #3D405B;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#E07A5F, 7.0%);
    -fx-background-insets: 1.0, 2.0, 1.0;
    -fx-background-radius: 2.0em;
}