.newTourButton:hover {
    -fx-background-color: #454545;
}

.newTourButton {
    -fx-background-color: #81b29a;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-min-height: 40px;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-effect: innershadow(gaussian, rgba(61, 64, 91, 0.34), -5, 3, 0, -3);

}

