.searchContainer {
    -fx-background-color: #F2CC8F;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0, 3, 3);
}

.advancedSearchButton {
    -fx-text-fill: rgb(61, 64, 91);
    -fx-background-radius: 0 0 10 10;
    /*-fx-focus-color: rgb(61, 64, 91);*/
    -fx-faint-focus-color: rgba(224, 122, 95, 0.53);
    -fx-cursor: hand;
}

.advancedSearchContainer {
    -fx-border-width: 1px 0 0 0;
    /*-fx-border-color: #afafaf;*/
    -fx-border-color: #FFE0AF;
    -fx-background-color: #F2CC8F;
}

.searchIcon {
    -fx-background-color: rgb(61, 64, 91);
    -fx-shape: "M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z";
    -fx-max-height: 15px;
    -fx-max-width: 15px;
    -fx-min-height: 15px;
    -fx-min-width: 15px;
}

.clearSearchButton {
    -fx-background-color: rgb(61, 64, 91);
    -fx-shape: "M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z";
    -fx-max-height: 15px;
    -fx-max-width: 15px;
    -fx-min-height: 15px;
    -fx-min-width: 15px;
    -fx-cursor: hand;
}

.searchBoxTextField {
    -fx-focus-color: rgba(61, 64, 91);
    -fx-faint-focus-color: rgba(224, 122, 95, 0.53);
    -fx-background-insets: 0, 0 0 0 0 ;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-padding: 5 0 5 2;
    -fx-text-fill: rgb(61, 64, 91);
}

.SearchBar {
    -fx-background-color: #F4F1DE;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-insets: 10;
    -fx-padding: 10 20 10 20;
}

.advancedSearchLabel {
    -fx-font-size: 15px;
    -fx-text-fill: rgb(61, 64, 91);
    -fx-font-family: "JetBrains Mono NL Bold";
}

.text-field {
    -fx-text-fill: rgb(61, 64, 91);
    -fx-prompt-text-fill: rgba(224, 122, 95, 0.60);
    -fx-background-color: #F4F1DE;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.clearAllButton {
    -fx-text-fill: rgb(224, 122, 95) !important;
    -fx-cursor: hand;
}

.button {
    -fx-background-color: #FFE0AF;
    -fx-text-fill: rgb(61, 64, 91);
}

.distance-label {
    -fx-min-width: 80px;
}

/* Styling the slider track */
.distanceSlider>.track {
    -fx-pref-height: 10;
    -fx-background-color: #F4F1DE;
    -fx-effect: innershadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0.5, -0.5, 2);
}

/* Styling the slider thumb */
.distanceSlider>.thumb {
    -fx-background-color: rgba(224, 122, 95);
}


