.tourListContainer {
    -fx-text-fill: rgb(61, 64, 91);
    -fx-background-color: #d9d9d9;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    /*-fx-effect: innershadow(gaussian, rgba(61, 64, 91, 0.44), -5, 3, 0, -3);*/
    /*-fx-effect: dropshadow(three-pass-box, rgba(61, 64, 91, 0.44), 2, 0, 0, 3.5);*/
    -fx-effect: dropshadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0, 3, 3);
}

/*remove default styling of listview and add padding*/

.list-view {
    -fx-background-color: transparent;
    -fx-padding: 0 5px 0 0;

}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0 15px 20px 20px;
}

.first-list-cell {
    -fx-padding: 20px 15px 20px 20px !important;
}

/*style un-selected list cell*/
.list-cell .list-cell-container {
    -fx-background-color: #F4F1DE;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0, 3, 3);
}

/*style selected list cell*/
.list-cell:filled:selected .list-cell-container {
    /*-fx-background-color: #F9DCA3;*/
    -fx-border-width: 3px;
    -fx-border-radius: 10;
    -fx-border-color: rgb(61, 64, 91);
    -fx-background-radius: 10;
    -fx-border-insets: -3px;
    /*-fx-effect: dropshadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0, 3, 3);*/
    -fx-effect: null;
}

.list-cell .label {
    -fx-text-fill: blue !important;
}

.list-cell:filled:selected .label {
    -fx-text-fill: green !important;
}

.no-tours-icon {
    -fx-opacity: 0.5;
    -fx-shape: "M512 96c0 50.2-59.1 125.1-84.6 155c-3.8 4.4-9.4 6.1-14.5 5H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c53 0 96 43 96 96s-43 96-96 96H139.6c8.7-9.9 19.3-22.6 30-36.8c6.3-8.4 12.8-17.6 19-27.2H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320c-53 0-96-43-96-96s43-96 96-96h39.8c-21-31.5-39.8-67.7-39.8-96c0-53 43-96 96-96s96 43 96 96zM117.1 489.1c-3.8 4.3-7.2 8.1-10.1 11.3l-1.8 2-.2-.2c-6 4.6-14.6 4-20-1.8C59.8 473 0 402.5 0 352c0-53 43-96 96-96s96 43 96 96c0 30-21.1 67-43.5 97.9c-10.7 14.7-21.7 28-30.8 38.5l-.6 .7zM128 352a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM416 128a32 32 0 1 0 0-64 32 32 0 1 0 0 64z";
    -fx-background-color: #3D405B;
    -fx-max-height: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 100px;
    -fx-min-width: 100px;
}

.no-tours-text {
    -fx-font-family: "JetBrains Mono NL ExtraBold";
    -fx-text-fill: #3D405B;
    -fx-font-size: 25px;
    -fx-opacity: 0.5;
    -fx-padding: 10px 0 0 0;
}