.tour-info-container {
    -fx-background-color: transparent;
    /*-fx-padding: 0 0 10px 0;*/
    -fx-padding: 4px 6px 6px 4px;
    /*-fx-effect: innershadow(gaussian, rgba(61, 64, 91, 0.44), -5, 4, 0, -3);*/
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}

.text-field {
    -fx-background-radius: 5;
    -fx-padding: 10px;
    -fx-background-color: #F4F1DE;
    -fx-prompt-text-fill: rgba(224, 122, 95, 0.50);
    -fx-text-fill: rgb(61, 64, 91);
}

.text-area {
    -fx-background-color: #F4F1DE;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-prompt-text-fill: rgba(224, 122, 95, 0.50);
    -fx-text-fill: rgb(61, 64, 91);

    /*padding for the scroll bar*/
    -fx-padding: 3px 5px 3px 3px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.tourInfoButtonBar {
    -fx-background-color: #FFE0AF;
    -fx-border-radius: 10px;
    -fx-background-radius: 0 0 10px 10px;
    -fx-padding: 0 15 0 0;
    -fx-text-fill: rgb(61, 64, 91);
}

.tour-info-main-box {
    /*add shadow*/
    -fx-background-color: #F2CC8F;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0, 3, 3);
}

.editModeLeft {
    -fx-padding: 15px;
    -fx-spacing: 10;
}

.editModeRight {
    -fx-padding: 15px;
}

.viewModeLeft {
    -fx-padding: 15px;
    -fx-spacing: 5px;
}

.viewModeLeft .viewLabel {
    -fx-padding: 5px;
    -fx-background-color: #F9DCA3;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: rgb(61, 64, 91);
}

.viewModeLeft .labelName {
    -fx-font-size: 20px;
    -fx-font-family: "JetBrains Mono NL Bold";
}

.viewModeRight {
    -fx-padding: 15px;
}

.viewModeRight .text-area {
    -fx-background-color: #F9DCA3;
    -fx-border-radius: 10px;
    -fx-border-color: rgb(61, 64, 91);
}

.tourDescription {
    -fx-border-radius: 10px;
    -fx-background-color: #F4F1DE;
    -fx-background-radius: 30;
    -fx-prompt-text-fill: rgba(224, 122, 95, 0.60);
    -fx-text-fill: rgb(61, 64, 91);
}

.button {
    -fx-padding: 0;
    -fx-font-size: 15px;
    -fx-pref-width: 110;
    -fx-pref-height: 35;
    -fx-max-height: 35;
    -fx-background-color: #F4F1DE;
    -fx-text-fill: rgb(61, 64, 91);
    -fx-effect: dropshadow(gaussian, rgba(61, 64, 91, 0.44), 3, 0, 3, 3);
    -fx-alignment: center;
    -fx-content-display: center;
}

.buttonTextBig {
    -fx-font-size: 15px;
    -fx-padding: 0 3px 0 0;
    -fx-font-family: "JetBrains Mono NL ExtraBold";
}

.buttonTextSmall {
    -fx-padding: 4px 0 0 0;
    -fx-font-family: "JetBrains Mono NL Regular";
    -fx-font-size: 11px;
}

.specialButton {
    -fx-background-color: #81B29A;
    -fx-text-fill: rgb(255, 255, 255);
}