.newTourButton:hover{
    -fx-background-color: #454545;
}

.newTourButton {
    -fx-background-color: #5e5e5e;
    -fx-border-radius: 10;
    -fx-min-height: 40px;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.leftMainContainer {
    -fx-background-color: #ffffff;
}

.searchContainer {
    -fx-background-color: #d9d9d9;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.advancedSearchButton {
    -fx-background-radius: 0 0 10 10;
}

.advancedSearchContainer {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #454545;
}